<div [ngClass]="{'list-group-item':true,
                'list-group-item-success': appareilStatut==='allumé',
                'list-group-item-danger': appareilStatut==='éteint' }">

    <h4 [ngStyle]="{color:getColor()}" >
        Appareil : {{appareilName}} --------- statut : {{appareilStatut}} 
    </h4>

    <a [routerLink]="[id]" >detail</a>
    
    <button class="btn btn-success" (click)="onAllume()" >allumer</button>
    <button class="btn btn-danger"  (click)="onEteint()">éteindre</button>
</div>
