<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item ">
      <a class="nav-link " routerLink="auth">Authentifaction</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link " routerLink="appareils">Appareils</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link " routerLink="edit-appareils">Nouvelle Appareil</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link " routerLink="users">Utilisateurs</a>
    </li>

    <li class="nav-item ">
      <a class="nav-link " routerLink="new-user">Nouveau utilisateur</a>
    </li>

    <p>connecter depuis {{secondes}} secondes</p>

  </ul>

</nav>

<div class="container" >
  <div >
    <router-outlet></router-outlet>
  </div>
</div>